td
{
    height: 40px;
    width: 40px;
  
}

body
{
    background: rgb(20 , 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.btn {
    outline: none;
    background-color:transparent; /* Blue background */
    border: none; /* Remove borders */
    cursor: pointer; /* Mouse pointer on hover */
    -webkit-transition: transform 0.5s ;
  }

  .btn:hover {
    transform: scale(2);
  }